@import './variables.scss';
@import './button.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
.app {
  width: 1100px;
  margin: 0 auto;
  padding: 50px 0 0 0;
}
span {
  color:$main-color
}
.char-content {
  display: flex;
  justify-content: space-between;
}
main {
  position: relative;
}
.vision-bg-img {
  position: absolute;
  bottom: 0;
  right: -11rem;
  z-index: -1;
}
@keyframes pulse {
  0% {
      opacity: 1
  }
  50% {
      opacity: .4
  }
  100% {
      opacity: 1
  }
}
ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}